.customVector{
    background: #fff;
    border: 1px solid #c0c0c0;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 6px;
    border-radius: 8px;
    text-align: center;
    .logo{
        img{
            width: 34px;
            height: 30px;
        }
    }

    .info{
        display: flex;
            align-items: left;
            gap: 2px;
            flex-direction: column;
        .top{
            display: flex;
            align-items: center;
            gap: 6px;
            line-height: 14px;
            p{

            }
            label{
                line-height: 14px;
                background: #f0f0f0;
                padding: 2px 8px;
                border-radius: 8px;
                font-size: 10px;

            }
        }
        .bottom{
            display: flex;
            align-items: center;
            gap: 10px;
            font-size: 12px;
            span{

            }
            b{
                
            }
        }
    }
}   







.contextMenu{
    position: absolute;
    top: 0px;
    left: 0px;
    background: #fff;
    border: 1px solid #c0c0c0;
    border-radius: 8px;
    cursor: pointer;
    ul{
        li{
            padding: 4px 12px;
           font-size: 14px; 
           &:hover{
               background: #f0f0f0;
           }
        }
    }    
}
