.sectionMicrophone {
}

.buttonMicrophone {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: red;
  cursor: pointer;
  .iconMicrophone {
    color: #54656f !important;
    
  }
}
.iconMicrophone {
  width: 24px;
  height: 24px;
  fill: #ffffff;
}
.bar {
  display: flex;
  align-items: center;
  overflow-x: scroll;
  overflow-y: hidden;
  width: 140px;
  height: 20px;
  border-radius: 8px;

  .containerBar {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    .splot {
      width: 2px;
      background: blue;
      margin-right: 1px;
    }
  }

  &::-webkit-scrollbar {
    display: none !important;
  }
}

.boxDelete {
  display: flex;
  align-items: center;
  gap: 6px;
}

.boxRecord {
  display: flex;
  align-items: center;
  gap: 2px;
}

.boxBar {
  background: #eae4e4;
  color: var(--text-primary);
  display: flex;
  align-items: center;
  gap: 6px;
  border-radius: 20px;
  padding-right: 10px;
}

.sectionRecord {
  display: flex;
  align-items: center;
}

.boxDelete {
  /* background: red; */
}

.textTime {
  font-size: 16px;
}

.boxPlay {
  display: flex;
}

.buttonDelete {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  .iconDelete {
    width: 15px;
    color: #54656f;
  }
}

.buttonPause {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  .iconPause {
    width: 35px;
    color: #ff3b30;
  }
}

.buttonPlay {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  .iconPlay {
    width: 35px;
    color: #54656f;
  }
}

.buttonEnd {
width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  .iconEnd {
    width: 25px;
    color: var(--color-primary-0);
  }
}

.buttonPause {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  .iconPause {
      width: 25px;
      
  }
}

.buttonRestart {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  /* display: hidden; */
  .iconRestart {
    color: #ff3b30 !important;
    width: 25px;
  }
 
}
