:global(.react-flow__edge-path) {
    stroke: red; 
    fill: none;
    stroke-width: 0px; 
  
    :global(&.selected){
        stroke: var(--color-primary-0) !important;
    }
}


:global(.edge-path-smoothstep) {
    stroke: transparent !important;
    fill: none;
    stroke-width: 30px; 

    :global(&.selected){
        stroke: transparent !important;
    }
}


:global(.react-flow__handle-top){
    position: absolute;
    border-radius: 0px;
    border: none;
    top: -15px !important;
    width: 200px;
    left: 0px;
    transform: none;
}