.main_drive_page {
    display: flex;
    flex-direction: column;
    padding: 10px 15px;
    gap: 12px
}

.drive_header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}


.drive_header_left_title_container {
    display: inline-flex;
    align-items: center;
    padding: 5px 0px;
    gap: 8px;
    cursor: pointer;
}

.drive_header_left_title {
    color: var(--textContent);
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    /* 127.273% */
}

.drive_header_right {
    display: flex;
    gap: 7px;
}

.drive_header_right_filter {
    cursor: pointer;
    display: flex;
    /* width: 160px; */
    height: 33px;
    padding: 13px;
    align-items: center;
    gap: 12px;
    border-radius: 4px;
    border: 1px solid #D9D9D9;
    background: var(--background-menu-left);
}

.drive_header_right_filter_text {
    color: var(--textContent);
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.drive_suggested_main {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.drive_suggested_title {
    color: #3C4043;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 142.857% */
}

.drive_suggested_container {
    display: inline-flex;
    gap: 20px;
}

.drive_suggestion_container {
    width: 240px;
    height: 196px;
    border-radius: 6px;
    border: 1px solid red;
    cursor: pointer;
}

.drive_folders_main_container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;

}

.drive_folders_title_container {
    padding: 5px 0px;
    display: inline-flex;
    gap: 9px;
}

.drive_folders_title {
    display: inline-flex;
    gap: 9px;
    align-items: center;
    color: var(--textContent);
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    /* 142.857% */
    cursor: pointer;
    border-radius: 5px 8px;
    padding: 5px;

    &:hover {
        background-color: #e3e3e3;
    }
}

.drive_folders_container {
    display: flex;
    flex-direction: column;
}

.drive_folders_filters_container {
    padding: 15px 17px;
    border-bottom: 1px solid var(--background-checkbox);

}

.drive_folders_filters_title_container {
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    flex-basis: 340px;
    width: 340px;
}

.drive_folders_filters_title {
    color: var(--textContent);
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
}

.drive_folder_container {
    position: relative;
    display: inline-flex;
    justify-content: space-between;
    padding: 0px 17px;
    border-bottom: 1px solid var(--background-checkbox);
    width: 100%;
    cursor: pointer;
    transition: .2s linear;

    &:hover {

        background-color: var(--background-checkbox);
    }
}

.drive_folder_title_container,
.drive_folder_size_container,
.drive_folder_lastmodified_container {
    display: inline-flex;
    gap: 8px;
    padding: 15px 0px;

    /* flex-basis: 0; */
    /* Inicialmente, cada hijo tomará un espacio igual */
    /* flex-grow: 1; */
    /* Permitirá que los hijos crezcan para ocupar el espacio disponible */
    /* flex-shrink: 1; */
    /* Permitirá que los hijos se contraigan si hay poco espacio disponible */

    /* Puedes añadir estilos adicionales según tus preferencias */
    padding: 10px;
    text-align: center;
}

.drive_folder_title_container {
    flex-basis: 340px;
    width: 340px;
}

.drive_folder_size_container {
    flex-basis: 266px;
    width: 265px;
}

.drive_folder_lastmodified_container {
    flex-basis: 200px;
    width: 200px;
}

.drive_folder_title {
    display: inline-flex;
    align-items: center;
    color: var(--textContent);
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;

}

.fileRightSection {
    display: flex;
    gap: 8px;
    align-items: center;
}

.fileOption {
    cursor: pointer;
    border-radius: 100px;
    padding: 8px 15px;

    &:hover {
        background-color: #ebebeb;
    }
}

.drive_clickeable_folder_container {
    display: inline-flex;
    flex-grow: 1;
}