.container {
  .header {
    display: flex;
    flex-direction: column;
    h2 {
      font-size: 35px;
      font-weight: 400;
      line-height: 48px;
    }
    .banner {
      border: 1px solid rgb(217, 218, 221);
      border-radius: 4px;
      padding: 12px;
      display: flex;
      gap: 14px;
      justify-content: space-between;
      align-items: center;
      .icon {
        svg {
          min-width: 60px;
          width: 60px;
          height: 60px;
        }
      }
      .item {
        display: flex;
        flex-direction: column;
        align-items: center;
        b {
          font-size: 14px;
          font-weight: 500;
          line-height: 24px;
        }
        label {
          &.plan {
            color: #000fff;
            font-size: 21px;
            font-weight: 500;
            line-height: 18px;
          }
          &.label {
            font-weight: 500;
            line-height: 24px;
            text-decoration: none;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            white-space: nowrap;
            border-radius: 16px;
            padding: 0px 8px;
            gap: 4px;
            width: fit-content;
            height: 16px;
            text-transform: uppercase;
            font-size: 10px;
            color: rgb(0, 93, 163);
            background: rgb(224, 242, 255);
            border: 1px solid rgb(224, 242, 255);
          }
        }
        p {
          font-size: 16px;
          font-weight: 400;
          letter-spacing: 0px;
          line-height: 24px;
        }
        button {
          display: inline-flex;
          height: 48px;
          padding: 0px 16px;
          flex-direction: row;
          gap: 8px;
          border-radius: 4px;
          box-sizing: border-box;
          width: auto;
          align-items: center;
          cursor: pointer;
          justify-content: center;
          outline-offset: 2px;
          white-space: nowrap;
          text-decoration: none;
          font-size: 16px;
          font-weight: 500;
          letter-spacing: 0px;
          line-height: 24px;
          background: #000fff;
          border: none;
          color: rgb(255, 255, 255);
        }
      }
    }
  }
  .buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 14px 0px;
    div {
      border: 1px solid rgb(217, 218, 221);
      border-radius: 4px;
      padding: 4px;
      display: flex;
      gap: 8px;
      position: relative;
    }
    button {
      display: inline-flex;
      height: 30px;
      padding: 0px 12px;
      flex-direction: row;
      gap: 8px;
      border-radius: 4px;
      box-sizing: border-box;
      width: auto;
      align-items: center;
      cursor: pointer;
      justify-content: center;
      outline-offset: 2px;
      white-space: nowrap;
      text-decoration: none;
      font-size: 14px;
      font-weight: 500;
      line-height: 10px;
      background: #000fff;
      border: none;
      color: rgb(255, 255, 255);
      &.desactive {
        background-color: transparent;
        color: rgb(63, 66, 80);
      }
    }
  }
  .box {
  }
}









/*****/
.view{
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 12px;
    .button{
        display: inline-flex;
        height: 28px;
        width: 28px;
        flex-direction: row;
        gap: 8px;
        border-radius: 4px;
        box-sizing: border-box;
        align-items: center;
        cursor: pointer;
        justify-content: center;
        outline-offset: 2px;
        white-space: nowrap;
        text-decoration: none;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        background: none;
        border: 1px solid rgb(181, 183, 189);
        color: rgb(63, 66, 80);
        svg{
            width: 12px;
        }
    }
}