.ct-series-a .ct-slice-donut {
  stroke: #0000ff;
}

.ct-series-b .ct-slice-donut {
  stroke: #3333ff;
}

.ct-series-c .ct-slice-donut {
  stroke: #6666ff;
}

.ct-series-d .ct-slice-donut {
  stroke: #9999ff;
}


.box-chart{
  padding: 10px;  
  /* height: 400px; */
  /* background: red; */
}
