:global(.introjs-tooltip) {
  background-color: var(--background-secondary);
  color: var(--text-color);
}

:global(.introjs-arrow.top) {
  border-bottom-color: var(--background-secondary);
}

:global(.introjs-tooltipbuttons) {
  border-color: var(--border-color);
}

:global(.introjs-button) {
  background: var(--color-primary-0);
  padding: 4px 10px;
  color: #fff;
  text-shadow: none;
  border: none;
  &:hover {
    background: var(--color-primary-1);
    color: #fff;
  }
}

:global(.introjs-tooltiptext) {
  margin-top: -30px;
  padding: 10px;
}

:global(.introjs-helperLayer) {
  box-shadow: var(--color-primary-0) 0px 0px 1px 2px,
    rgba(33, 33, 33, 0.5) 0px 0px 0px 5000px !important;
}

/***************************************/

.main {
  max-width: 900px;
  margin: 20px auto;
}

.headerTab {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 24px;
  background: var(--background);
  margin: 10px;
  margin-top: 0px;
  border-radius: 9px;
  box-shadow: 0px 0px 13px -6px var(--background);

  .title {
    font-size: 24px;
    color: var(--text-color);
  }

  .containerButton {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    button {
      cursor: pointer;
      font-size: 12px;
      border-radius: 4px;
      padding: 12px;
      font-weight: 500;
      display: flex;
      align-items: center;
      gap: 12px;
      color: var(--color-primary-0);
      /* fill: var(--text-primary); */
      svg {
        fill: currentColor;
        width: 20px;
      }
    }
    button:nth-child(1) {
      background: var(--color-primary-0);
      color: #fff;
      border: none;
      &:hover {
        background: var(--color-primary-1);
      }
    }
    button {
      display: flex;
      align-items: center;
      gap: 6px;
      background: var(--background);
      border: 1px solid var(--color-primary-0);
      &:hover {
        border-color: var(--color-primary-2) !important;
        color: (--color-primary-2) !important;
      }
    }
  }
}

.containerBanner {
  border-radius: 4px;
  background-color: var(--color-primary-4);
  position: relative;
  overflow: hidden;
  padding: 24px;
  font-size: 24px;
  .title {
    color: var(--text-color);
    font-size: 21px;
    font-weight: 500;
    letter-spacing: 0px;
    line-height: 32px;
    text-transform: none;
    text-decoration: none;
  }
  .paragraph {
    color: var(--text-color-secondary);
    width: 70%;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0px;
    line-height: 24px;
    text-transform: none;
    text-decoration: none;
  }

  .backgroundBanner {
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 250px;
  }
  .buttons {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 6px;
    button {
      background: var(--color-primary-3);
      color: #fff;
      font-size: 12px;
      padding: 6px 10px;
      border-radius: 4px;
      &:hover {
        background: var(--color-primary-2);
      }
    }
  }
  .applyNow {
    font-weight: 600;
    background: var(--color-primary-0) !important;
    color: rgb(255, 255, 255);
    &:hover {
      background: var(--color-primary-1) !important;
    }
  }
}

.ul2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
}
.gird2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  align-items: start;
  padding: 12px;
  .title {
    color: var(--text-color);
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0px;
    line-height: 32px;
    text-transform: none;
    text-decoration: none;
    label {
      font-size: 12px;
      font-weight: 600;
      color: #dddcdc;
      background: var(--color-primary-0);
      border-radius: 8px;
      padding: 4px 12px;
      line-height: 20px;
      margin-left: 10px;
      text-transform: uppercase;
    }
  }

  .li2 {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--text-color-secondary);
    width: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 8px 10px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--border-color);
    border-radius: 4px;
    cursor: pointer;
    transition: box-shadow 0.2s ease 0s, border-color 0.2s ease 0s;
    .IconAddon {
      width: 28px;
      height: 28px;
      border-radius: 8px;
      background-color: var(--color-primary-4);
      border-radius: 6px;
      svg {
        fill: var(--color-primary-0);
      }
    }
    &:hover {
      background: var(--background-secondary);
    }

    div {
      display: flex;
      align-items: center;
      gap: 8px;
      span {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: calc(100% - 40px);
      }
    }
    button {
      width: 26px;
      height: 26px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 8px;
      svg {
        width: 16px;
        color: var(--color-primary-2);
      }
      &:hover {
        background: var(--color-primary-4);
        svg {
          color: var(--color-primary-0);
        }
      }
    }
    svg {
      width: 28px;
      height: 28px;
    }
    .IconPlus {
      width: 26px;
      height: 26px;
      border-radius: 6px;
      background-color: var(--color-primary-4);
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 12px;
      }
      svg {
        width: 15px;
        height: 15px;
        fill: var(--color-primary-0);
      }
    }
    .LabelNew {
      background: var(--color-primary-4);
      color: var(--color-primary-0);
      text-transform: uppercase;
      font-size: 8px;
      padding: 4px 6px;
      border-radius: 4px;
    }
  }
}

.containerConsumption {
  .boxConsumption {
    border: 1px solid var(--border-color);
    color: var(--text-color-secondary);
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    padding: 16px;
    margin-top: 12px;
  }
}

.containerTrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  align-items: self-start;
  justify-content: normal;
  max-width: 900px;
  margin: 0 auto;
  margin-bottom: 80px;
  .title {
    display: flex;
    gap: 16px;
    flex-flow: row;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    h2 {
      color: var(--text-color);
      font-size: 20px;
      font-weight: 400;
      letter-spacing: 0px;
      line-height: 32px;
      text-transform: none;
      text-decoration: none;
    }
    a {
      background-color: transparent;
      border: none;
      padding: 0px;
      color: var(--color-primary-0);
      display: inline-flex;
      flex-direction: row;
      -webkit-box-align: center;
      align-items: center;
      gap: 8px;
      position: relative;
      cursor: pointer;
      width: fit-content;
      font-size: 12px;
      font-weight: 500;
      letter-spacing: 0px;
      line-height: 20px;

      .svg {
        vertical-align: middle;
        fill: currentcolor;
        height: 14px;
        width: 14px;
        min-width: 14px;
        min-height: 14px;
      }
    }
  }
  .containerChangelog {
    display: grid;
    grid-template-columns: auto;
    gap: 8px;
    align-items: normal;
    justify-content: normal;
  }
  .boxChangelog {
    border: 1px solid var(--border-color);
    color: var(--text-color-secondary);
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    padding: 16px;
    .image {
      width: 70px;
    }

    .labelContainer {
      label {
        font-weight: 500;
        letter-spacing: 0px;
        text-decoration: none;
        display: inline-flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        white-space: nowrap;
        border-radius: 16px;
        gap: 4px;
        width: fit-content;
        text-transform: uppercase;
        font-size: 10px;
        color: rgb(63, 66, 80);
        background: rgb(249, 249, 250);
        border: 1px solid var(--border-color);
        padding: 8px;
        height: 12px;
        line-height: 12px;
        margin-top: 16px;
        margin-bottom: 8px;
      }
    }
    .info {
      b {
        color: var(--text-color);
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0px;
        line-height: 24px;
        text-transform: none;
        text-decoration: none;
        max-height: 50px;
        overflow: hidden;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        display: -webkit-box;
      }
      p {
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0px;
        text-transform: none;
        text-decoration: none;
        line-height: 20px;
        max-width: 400px;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
      }
    }
    .share {
      margin-top: 10px;
      display: inline-flex;
      height: 24px;
      padding: 0px 4px;
      flex-direction: row;
      box-sizing: border-box;
      width: 100%;
      align-items: center;
      cursor: pointer;
      outline-offset: 2px;
      white-space: nowrap;
      font-weight: 500;
      letter-spacing: 0px;
      color: var(--color-primary-0);
      line-height: normal;
      font-size: 14px;
      a {
        display: flex;
        align-items: center;
        gap: 8px;

        svg {
          vertical-align: middle;
          fill: currentcolor;
          height: 14px;
          width: 14px;
        }
      }
      div {
        display: inline-flex;
        margin-left: auto;
        font-size: 12px;
        color: #000;
        font-weight: 300;
      }
    }
  }

  .containerNews {
    display: grid;
    grid-template-columns: auto;
    gap: 8px;
    align-items: normal;
    justify-content: normal;
    .boxNews {
      display: flex;
      gap: 0px;
      flex-flow: column;
      align-items: normal;
      justify-content: normal;
      border-radius: 4px;
      border: 1px solid var(--border-color);
      /* background: rgb(255, 255, 255); */
      min-width: 0px;
      .items {
        display: flex;
        gap: 12px;
        align-items: flex-start;
        padding: 10px;
        .info {
          display: flex;
          gap: 4px;
          flex-flow: column;
          align-items: normal;
          justify-content: normal;
          min-width: 0px;
          span {
            font-weight: 500;
            letter-spacing: 0px;
            text-decoration: none;
            display: inline-flex;
            -webkit-box-align: center;
            align-items: center;
            -webkit-box-pack: center;
            justify-content: center;
            white-space: nowrap;
            border-radius: 16px;
            gap: 4px;
            width: fit-content;
            text-transform: uppercase;
            font-size: 10px;
            color: rgb(63, 66, 80);
            background: var(--background);
            border: 1px solid var(--border-color);
            padding: 8px;
            height: 12px;
            line-height: 12px;
            margin-bottom: 4px;
          }
          b {
            color: var(--text-color);
            font-size: 16px;
            font-weight: 500;
            letter-spacing: 0px;
            line-height: 24px;
            text-transform: none;
            text-decoration: none;
            max-height: 50px;
            overflow: hidden;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            text-overflow: ellipsis;
            display: -webkit-box;
          }
          p {
            color: var(--text-primary);
            font-size: 14px;
            font-weight: 400;
            letter-spacing: 0px;
            text-transform: none;
            text-decoration: none;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
          }
        }
        .button {
          cursor: pointer;
          background: var(--background);
          padding: 8px;
          border-radius: 4px;
          min-width: 35px;
          max-width: 35px;
          height: 35px;
          display: flex;
          align-items: center;
          margin-left: auto;
          outline: none;
          border: none;

          svg {
            fill: rgb(63, 66, 80);
            width: 22px;
          }
        }
      }
    }
  }

  .containerKey {
    display: grid;
    grid-template-columns: auto;
    gap: 8px;
    align-items: normal;
    justify-content: normal;
    .boxKey {
      display: flex;
      gap: 12px;
      flex-flow: column;
      align-items: normal;
      justify-content: normal;
      margin-top: 40px;
      padding: 16px;
      /* background-color: rgb(224, 242, 255); */
      border-radius: 4px;
      border: 1px solid var(--border-color);
      .icon {
        display: flex;
        gap: 0px;
        flex-flow: column;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        border-radius: 50%;
        background-color: var(--color-primary-4);
        min-width: 48px;
        max-width: 48px;
        min-height: 48px;
        svg {
          width: 22px;
          fill: var(--color-primary-0);
        }
      }

      .text {
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0px;
        line-height: 24px;
        text-transform: none;
        text-decoration: none;
        color: var(--text-primary);
      }
      .paragraph {
        color: var(--text-primary) !important;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0px;
        line-height: 20px;
        text-transform: none;
        text-decoration: none;
      }
      .share {
        display: flex;
        gap: 8px;
        flex-flow: row;
        -webkit-box-align: center;
        align-items: center;
        justify-content: normal;
        svg {
          fill: var(--color-primary-0);
          width: 14px;
        }
        span {
          color: var(--color-primary-0);
          display: inline-flex;
          flex-direction: row;
          align-items: center;
          gap: 8px;
          position: relative;
          cursor: pointer;
          font-size: 14px;
          font-weight: 500;
        }
      }
    }
  }
}

.lg-hidden {
  display: none !important;
}

@media only screen and (max-width: 600px) {
  .headerTab {
    flex-direction: column;
    gap: 14px;
  }

  .containerBanner {
    .paragraph {
      margin-bottom: 100px;
    }
  }

  .gird2 {
    grid-template-columns: repeat(1, 1fr);
  }

  .containerTrid {
    padding: 10px;
    grid-template-columns: repeat(1, 1fr);
  }

  .boxKey {
    margin-top: 4px !important;
  }

  .xs-hidden {
    display: none !important;
  }
  .lg-hidden {
    display: flex !important;
  }
}

.buttonsPrev {
  /* position: absolute; */
  /* top: 16px; */
  /* right: 16px; */
  /* z-index: 10; */
  display: flex;
  gap: 8px;
  flex-flow: row;
  align-items: normal;
  justify-content: flex-end;
  button {
    display: inline-flex;
    height: 26px;
    padding: 0px 8px;
    flex-direction: row;
    gap: 8px;
    border-radius: 4px;
    box-sizing: border-box;
    width: 26px;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    outline-offset: 2px;
    white-space: nowrap;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    /* background: rgb(233, 234, 235); */
    background: var(--background);
    border: none;
    color: rgb(34, 38, 56);
    svg {
      fill: var(--text-color);
    }
  }
}

.box {
  margin: 20px 0px;
}

.noneAddon {
  border: 1px solid var(--border-color);
  color: var(--text-color-secondary);
  border-radius: 4px;
  position: relative;
  overflow: hidden;
  padding: 16px 22px;
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 265px;
  p {
    font-size: 18px;
  }
  label {
    font-size: 12px;
  }
  .buttons {
    font-size: 14px;
    margin-top: 14px;
    display: flex;
    align-items: center;
    gap: 6px;
    button {
      padding: 6px 12px;
      border: 1px solid var(--color-primary-0);
      color: var(--color-primary-0);
      border-radius: 4px;
      outline: none;
      &.buttonPremium {
        background-color: var(--color-primary-0);
        color: #fff;
      }
    }
  }
}
