.modal {
  margin: 0 auto;
  margin-top: 15px;
  padding: 12px;
  width: 450px;
  color: var(--text-color-secondary);
  border: var(--border-color);
  background: var(--background);
  box-shadow: 0px 5px 22px -9px var(--color-primary-0);
  .header {
    h3 {
      font-size: 24px;
      font-weight: bold;
      color: var(--color-primary-0);
    }
    p {
      color: var(--text-color);
      font-size: 16px;
    }
  }
  .type {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 6px;

    .checkbox-container {
      display: flex;
      align-items: center;
      position: relative;
    }

    .checkbox-remember {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      border: 2px solid var(--border-color);
      border-radius: 4px;
      width: 20px;
      height: 20px;
      cursor: pointer;
      outline: none;
      margin-right: 8px;
      position: relative;
      z-index: 1;
    }

    .checkbox-remember:checked {
      background-color: var(--color-primary-0);
      border-color: var(--color-primary-0);
    }

    .checkbox-remember::before {
      content: "\2713";
      font-size: 13px;
      color: white;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;
      opacity: 0;
      transition: opacity 0.2s ease-in-out;
    }

    .checkbox-remember:checked::before {
      opacity: 1;
    }
  }
  .adjunt {
    margin-top: 10px;
 
    ul {
      border-top: 1px solid var(--border-color);
      padding-top: 10px;
      margin-top: 10px;
      display: flex;
      flex-direction: column;
      gap: 6px;
      li {
        padding: 10px;
        border-radius: 10px;
        background: var(--color-primary-4);
      }
    }
  }

  .buttons {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    button {
      width: 100%;
      padding: 10px;
      background-color: rgb(255, 74, 74);
      color: #fff;
      border-radius: 8px;
      font-weight: 600;
      font-size: 18px;
      &.addBackup {
        background-color: var(--color-primary-1);
        &:hover {
          background-color: var(--color-primary-0);
        }
      }
      &:hover {
        background-color: rgb(245, 54, 54);
      }
    }
  }
}
