:global(.react-flow__edge-path) {
  stroke: var(--color-primary-3) !important;
  fill: none;
  stroke-width: 3px;

  /* &.selected{ */
}
:global(.react-flow__edge.selected .react-flow__edge-path) {
  stroke: var(--color-primary-0) !important;
}

/* :global(.react-flow__edge.selected .react-flow__edge-path, .react-flow__edge:focus .react-flow__edge-path, .react-flow__edge:focus-visible .react-flow__edge-path) {
    stroke: var(--color-primary-0) !important;
} */

/* :global(.edge-path-line) {
  stroke: blue !important;
  fill: none;
  stroke-width: 30px;

  :global(&.selected) {
    stroke: transparent !important;
  }
} */

.addEdge{
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-primary-3);
  color: var(--color-primary-4);
  border-radius: 50px;
  box-shadow: 0px 0px 20px 0px var(--color-primary-3);
  color: var(--color-primary-0);
  svg{
    stroke-width: 6px;
    width: 20px;
  }
  &:hover{
    color: var(--background);
    background: var(--color-primary-0);
    box-shadow: 0px 0px 20px 0px var(--color-primary-0);
    
  }
}