:global(.react-flow__edge-path) {
    stroke: #282727; 
    fill: none;
    stroke-width: 1px; 
  
    :global(&.selected){
        stroke: var(--color-primary-0) !important;
    }
}


:global(.edge-path-line) {
    stroke: transparent !important;
    fill: none;
    stroke-width: 30px; 

    :global(&.selected){
        stroke: transparent !important;
    }
}