svg{
  width: 10px;
}
.modal{
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  max-width: 450px;

  .container{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .items{
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 12px;
    margin-bottom: 6px;
   }

  .gird1{
    grid-column: span 2;
  }

  .gird2{
    display: flex;
    /* align-items: center; */
    gap: 4px;
    /* justify-content: space-between; */
  }


  .list{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
  }

  .box{
    width: 100%;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    padding: 10px 14px;
    margin-top: 8px;
  }

  .girdBox2{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px 22px;
    align-items: start;
    /* grid-column: span 2; */
    border: 1px solid var(--border-color);
    border-radius: 4px;
    padding: 10px 14px;
    
    
  
    .item{
      font-size: 12px;
      /* border-bottom: 1px solid red; */
      label{
        font-size: 10px;
        font-weight: 600;
        text-transform: uppercase;
      }
      .dot{
        width: 6px;
        height: 6px;
        border-radius: 10px;
        background: #000fff;
      }
    }
  }

  .title{
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 0px;
    line-height: 32px;
    text-transform: none;
    text-decoration: none;
    top: 0px;
    /* margin-bottom: 10px; */
  }
  .textBold{
    font-size: 14px;
    font-weight: 500;
  }
  .textarea{
    background-color: rgb(255, 255, 255);
    border: 1px solid var(--border-color);
    border-radius: 4px;
    color: rgb(63, 66, 80);
    display: block;
    outline: none;
    width: 100%;
    font-size: 12px;
    line-height: 24px;
    padding: 8px calc(32px) 8px 8px;
    height: 55px;
    resize: vertical;
  }
  .text{
    color: rgb(63, 66, 80);
    font-size: 12px;
    line-height: 20px;
  }
  .info{
    display: flex;
    align-items: center;
    gap: 2px;
    font-size: 8px;
    margin: 6px 0px;
  }

  .buttons{
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .labelsTag{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    label{
      padding: 2px 8px;
      border:1px solid rgb(215, 215, 215);
      border-radius: 8px;
    }
  }

  .addTag{
    display: inline-flex;
    height: 38px;
    padding: 0px 16px;
    flex-direction: row;
    gap: 8px;
    border-radius: 4px;
    width: auto;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    outline-offset: 2px;
    white-space: nowrap;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0px;
    line-height: 24px;
    background: rgb(233, 234, 235);
    border: none;
    color: rgb(34, 38, 56);
    margin: 12px 0px;
  }

  .input{
    width: 100%;
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 24px;
    position: relative;
    background-color: rgb(255, 255, 255);
    border-color: var(--border-color);
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: none;
    box-sizing: border-box;
    color: rgb(63, 66, 80);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    outline: 0px !important;
    padding: 6px;
    label{
      font-size: 8px;
      font-weight: 700;
      text-transform: uppercase;
      margin-top: -4px;
      margin-left: -2px;
      line-height: 16px;
    }
    &.disabled{
      background: #f8f8f8;
    }
    input{
      width: 100%;
      background: transparent;
      border: none;
      outline: none;

    }
    .button{
      position: absolute;
      top: 0px;
      right: 0px;
      border-left: 1px solid rgb(224 224 224);
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 0px;
    }
  }

  .checkbox{
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 12px;
    margin-bottom: 6px;
  }

  .buttonItem{
    display: flex;
    align-items: center;
    gap: 4px;

    &.active{
      .save{
        border: 1px solid #000fff;
        color: #000fff;
      }
      .delete{
        border: 1px solid rgb(179, 20, 77);
        color: rgb(179, 20, 77);
      }
    }
    
    button{
      display: inline-flex;
      height: 40px;
      padding: 0px 4px;
      flex-direction: row;
      gap: 8px;
      border-radius: 4px;
      box-sizing: border-box;
      width: 40px;
      align-items: center;
      cursor: pointer;
      justify-content: center;
      outline-offset: 2px;
      white-space: nowrap;
      text-decoration: none;
      font-size: 16px;
      font-weight: 500;
      letter-spacing: 0px;
      line-height: 24px;
      background: none;
      color: rgb(216, 197, 252);
      border: 1px solid rgb(216, 197, 252);
      svg{
        width: 18px;
        fill: currentColor;
      }

    

      &.xs{
        width: 22px;
        height: 22px;
        
        svg{
          width: 10px !important;
        }
      }

      &.deleteButton{
        border: 1px solid rgb(179, 20, 77);
        color: rgb(179, 20, 77);
      }
    }
  }

  .button{
    margin-top: 14px;
    width: 100%;
    button{
      width: 100%;
      display: inline-flex;
      height: 42px;
      padding: 0px 16px;
      flex-direction: row;
      gap: 8px;
      border-radius: 4px;
      box-sizing: border-box;
      align-items: center;
      cursor: not-allowed;
      justify-content: center;
      outline-offset: 2px;
      white-space: nowrap;
      text-decoration: none;
      font-size: 16px;
      font-weight: 500;
      letter-spacing: 0px;
      line-height: 24px;
      border: none;
      background: rgb(229, 219, 253);
      color: rgb(255, 255, 255);
      
      /* &.desactive{
        
      } */
      &.active{
        background: #000fff;
        color: rgb(255, 255, 255);
      }

      &.delete{
        background: rgb(229, 25, 99);
        color: rgb(255, 255, 255);
      }

      svg{
        width: 14px;
        fill: currentColor;
      }
    }
  }


  .labelNum{
    display: inline-flex;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    color: rgb(63, 66, 80);
    background: rgb(255, 255, 255);
    border: 1px solid var(--border-color);
    width: 26px;
    height: 26px;
    font-size: 10px;
    margin-right: 20px;
  }

}



/*
*/
.ancle{
  border: none;
  padding: 0px;
  color: rgb(0, 93, 163);
  text-underline-offset: 2px;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  position: relative;
  cursor: pointer;
  width: fit-content;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0px;
  line-height: 20px;
  svg{
    vertical-align: middle;
    fill: currentcolor;
    height: 14px;
    width: 14px;
    min-width: 14px;
    min-height: 14px;
  }
}

.rule{
  border-top: 1px solid #dedede;
  margin-top: 10px;
  padding: 6px 4px 2px;
  .headerRule{
    display: flex;
    .labelNum{
      width: 15px;
      height: 15px;
      margin-right: 6px;
      margin-top: 3px;
      font-size: 8px;
    }
  }
  .info{
    display: flex;
    align-items: center;
    gap: 4px;
    label{
      border: 1px solid #bcbcbc;
      padding: 2px 4px;
      border-radius: 2px;
    }
  }
}