.modal{
  display: flex;
  flex-direction: column;
  gap: 4px;
  .buttons{
    display: flex;
    align-items: center;
    gap: 4px;
    background: var(--color-primary-4);
    padding: 4px;
    border-radius: 6px;
    button{
      width: 100%;
      padding: 4px;
      background: var(--color-primary-5);
      border-radius: 4px;
      &.active{
        background: var(--color-primary-2);
        color: var(--color-primary-4);
      }
    }
  }
  .title{
    font-weight: 600;
    font-size: 12px;
  }
  .search{
    position: relative;
    .input{
      display: flex;
      align-items: center;
      gap: 8px;
      border: 1px solid var(--border-color);
      border-radius: 4px;
      padding: 4px 6px;
      input{
        background: transparent;
        outline: none;

      }
      svg{
        width: 14px;

      }
    }
    .list{
      position: absolute;
      .li{

        &.last-child{
          border-bottom: 0px;
        }
      }
    }
  }
  .texts{
    margin-top: 10px;
    ul{
      display: flex;
      flex-direction: column;
      gap: 6px;
      li{
        border: 1px solid var(--border-color);
        display: flex;
        flex-direction: column;
        gap: 2px;
        padding: 10px;
        border-radius: 6px;
        cursor: pointer;
        b{
          font-size: 18px;
          font-weight: 600;
        }
        span{
          font-size: 14px;
          font-weight: 400;
        }
        &:hover{
          background: var(--background-secondary);
        }
      }
    }
  }
}