.App{
    border-radius: 10px;
    padding: 8px 10px 10px;
    background: #f8f8f8;
    zoom: 0.8;
    position: relative;
    margin-top: 10px;
}

.return{
    position: absolute;
    top: 10px;
    left: 10px;
    background: var(--color-primary-0);
    color: #fff;
    width: 60px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    border-radius: 8px;
}


.upload{
    position: absolute;
    top: 10px;
    left: 74px;
    background: var(--color-primary-0);
    color: #fff;
    width: 60px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    border-radius: 8px;
}

:global(.dgxl-component){
    width: 400px !important;
    height: 300px !important;
}

:global(.dgxl-scrollArea){
    width: 400px;
    height: 300px;
}

:global(.dgxl-scrollArear){
    :global(&::-webkit-scrollbar){
        display: none !important;

    }
}

:global(.dgxl-bottombar.dgxl-bar){
    background: #f1f1f1;
}

:global(.dgxl-searchCellButtonNext),
:global(.dgxl-searchCellButtonPrev){
    :global(svg){
        width: 22px;
    }
}

:global(.dgxl-topbar.dgxl-bar){
    background: #e8eaed;
    border-bottom: 1px solid #d8d8d8;
}

:global(.dgxl-inputWrapper){
    margin-left: 125px;
    border-color: rgb(198 198 198) !important;
}

:global(.dgxl-topbar.dgxl-bar){
    padding: 6px 0px;
}



