.combo-bar-line,
.combo-bar-line * {
  box-sizing: border-box;
}
.combo-bar-line {
  width: 430px;
  height: 448px;
  position: relative;
}
.rectangle-2044 {
  background: var(--white, #ffffff);
  border-radius: 6px;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
}
.primary-text {
  color: var(--gray-1, #828282);
  text-align: left;
  font-family: var(--primary-text-font-family, "Roboto-SemiBold", sans-serif);
  font-size: var(--primary-text-font-size, 16px);
  font-weight: var(--primary-text-font-weight, 600);
  position: absolute;
  right: 38.37%;
  left: 10.47%;
  width: 51.16%;
  bottom: 89.51%;
  top: 6.25%;
  height: 4.24%;
}
._5-987-34 {
  color: var(--value-color, #0b1354);
  text-align: left;
  font-family: var(--value-font-family, "Roboto-Medium", sans-serif);
  font-size: var(--value-font-size, 40px);
  font-weight: var(--value-font-weight, 500);
  position: absolute;
  right: 38.37%;
  left: 10.47%;
  width: 51.16%;
  bottom: 78.12%;
  top: 11.38%;
  height: 10.49%;
}
.secondary-text {
  color: var(--gray-2, #4f4f4f);
  text-align: left;
  font-family: var(--secondary-text-font-family, "Roboto-Regular", sans-serif);
  font-size: var(--secondary-text-font-size, 14px);
  font-weight: var(--secondary-text-font-weight, 400);
  position: absolute;
  right: 38.37%;
  left: 10.47%;
  width: 51.16%;
  bottom: 73.66%;
  top: 22.77%;
  height: 3.57%;
}
.group-2275 {
  position: absolute;
  inset: 0;
}
.ellipse-16 {
  background: var(--gray-3, #bdbdbd);
  border-radius: 50%;
  position: absolute;
  right: 8.6%;
  left: 85.81%;
  width: 5.58%;
  bottom: 88.39%;
  top: 6.25%;
  height: 5.36%;
}
.group-5 {
  width: 4px;
  height: 16px;
  position: static;
}
.rectangle-8 {
  background: var(--white, #ffffff);
  border-radius: 6px;
  position: absolute;
  right: 10.93%;
  left: 88.14%;
  width: 0.93%;
  bottom: 89.29%;
  top: 8.33%;
  height: 2.38%;
}
.rectangle-9 {
  background: var(--white, #ffffff);
  border-radius: 6px;
  position: absolute;
  right: 10.93%;
  left: 88.14%;
  width: 0.93%;
  bottom: 91.96%;
  top: 7.14%;
  height: 0.89%;
}
.group-2276 {
  height: auto;
  position: absolute;
  right: 8.6%;
  left: 16.74%;
  width: 74.65%;
  bottom: 23.88%;
  top: 38.84%;
  height: 37.28%;
  overflow: visible;
}
._100 {
  color: var(--gray-2, #4f4f4f);
  text-align: right;
  font-family: var(--y-content-font-family, "Inter-Regular", sans-serif);
  font-size: var(--y-content-font-size, 12px);
  font-weight: var(--y-content-font-weight, 400);
  position: absolute;
  right: 86.74%;
  left: 6.74%;
  width: 6.51%;
  bottom: 23.21%;
  top: 73.44%;
  height: 3.35%;
}
._60 {
  color: var(--gray-2, #4f4f4f);
  text-align: right;
  font-family: var(--y-content-font-family, "Inter-Regular", sans-serif);
  font-size: var(--y-content-font-size, 12px);
  font-weight: var(--y-content-font-weight, 400);
  position: absolute;
  right: 86.74%;
  left: 6.74%;
  width: 6.51%;
  bottom: 30.13%;
  top: 66.52%;
  height: 3.35%;
}
._20 {
  color: var(--gray-2, #4f4f4f);
  text-align: right;
  font-family: var(--y-content-font-family, "Inter-Regular", sans-serif);
  font-size: var(--y-content-font-size, 12px);
  font-weight: var(--y-content-font-weight, 400);
  position: absolute;
  right: 86.74%;
  left: 6.74%;
  width: 6.51%;
  bottom: 36.16%;
  top: 60.49%;
  height: 3.35%;
}
._0 {
  color: var(--gray-2, #4f4f4f);
  text-align: right;
  font-family: var(--y-content-font-family, "Inter-Regular", sans-serif);
  font-size: var(--y-content-font-size, 12px);
  font-weight: var(--y-content-font-weight, 400);
  position: absolute;
  right: 86.74%;
  left: 6.74%;
  width: 6.51%;
  bottom: 41.96%;
  top: 54.69%;
  height: 3.35%;
}
._202 {
  color: var(--gray-2, #4f4f4f);
  text-align: right;
  font-family: var(--y-content-font-family, "Inter-Regular", sans-serif);
  font-size: var(--y-content-font-size, 12px);
  font-weight: var(--y-content-font-weight, 400);
  position: absolute;
  right: 86.74%;
  left: 6.74%;
  width: 6.51%;
  bottom: 48.21%;
  top: 48.44%;
  height: 3.35%;
}
._602 {
  color: var(--gray-2, #4f4f4f);
  text-align: right;
  font-family: var(--y-content-font-family, "Inter-Regular", sans-serif);
  font-size: var(--y-content-font-size, 12px);
  font-weight: var(--y-content-font-weight, 400);
  position: absolute;
  right: 86.74%;
  left: 6.74%;
  width: 6.51%;
  bottom: 54.24%;
  top: 42.41%;
  height: 3.35%;
}
._1002 {
  color: var(--gray-2, #4f4f4f);
  text-align: right;
  font-family: var(--y-content-font-family, "Inter-Regular", sans-serif);
  font-size: var(--y-content-font-size, 12px);
  font-weight: var(--y-content-font-weight, 400);
  position: absolute;
  right: 86.74%;
  left: 6.74%;
  width: 6.51%;
  bottom: 60.27%;
  top: 36.38%;
  height: 3.35%;
}
.vector-49 {
  height: auto;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 67.63%;
  top: 32.37%;
  height: 0%;
  overflow: visible;
}
.group-2277 {
  position: absolute;
  inset: 0;
}
.product-1 {
  color: var(--gray-2, #4f4f4f);
  text-align: left;
  font-family: var(--product-font-family, "Inter-Regular", sans-serif);
  font-size: var(--product-font-size, 12px);
  font-weight: var(--product-font-weight, 400);
  position: absolute;
  right: 62.09%;
  left: 23.72%;
  width: 14.19%;
  bottom: 6.92%;
  top: 89.29%;
  height: 3.79%;
}
.rectangle-1339 {
  background: var(--data-1, #165baa);
  position: absolute;
  right: 78.37%;
  left: 16.74%;
  width: 4.88%;
  bottom: 8.04%;
  top: 90.18%;
  height: 1.79%;
}
.group-2278 {
  position: absolute;
  inset: 0;
}
.product-2 {
  color: var(--gray-2, #4f4f4f);
  text-align: left;
  font-family: var(--product-font-family, "Inter-Regular", sans-serif);
  font-size: var(--product-font-size, 12px);
  font-weight: var(--product-font-weight, 400);
  position: absolute;
  right: 37.21%;
  left: 48.6%;
  width: 14.19%;
  bottom: 6.92%;
  top: 89.29%;
  height: 3.79%;
}
.rectangle-13392 {
  background: var(--data-2, #a155b9);
  position: absolute;
  right: 53.49%;
  left: 41.63%;
  width: 4.88%;
  bottom: 8.04%;
  top: 90.18%;
  height: 1.79%;
}
.jan {
  color: var(--gray-2, #4f4f4f);
  text-align: center;
  font-family: var(--x-content-font-family, "Inter-Regular", sans-serif);
  font-size: var(--x-content-font-size, 10px);
  font-weight: var(--x-content-font-weight, 400);
  position: absolute;
  right: 75.12%;
  left: 18.37%;
  width: 6.51%;
  bottom: 19.64%;
  top: 77.01%;
  height: 3.35%;
}
.feb {
  color: var(--gray-2, #4f4f4f);
  text-align: center;
  font-family: var(--x-content-font-family, "Inter-Regular", sans-serif);
  font-size: var(--x-content-font-size, 10px);
  font-weight: var(--x-content-font-weight, 400);
  position: absolute;
  right: 60.7%;
  left: 32.79%;
  width: 6.51%;
  bottom: 19.64%;
  top: 77.01%;
  height: 3.35%;
}
.mar {
  color: var(--gray-2, #4f4f4f);
  text-align: center;
  font-family: var(--x-content-font-family, "Inter-Regular", sans-serif);
  font-size: var(--x-content-font-size, 10px);
  font-weight: var(--x-content-font-weight, 400);
  position: absolute;
  right: 48.37%;
  left: 45.12%;
  width: 6.51%;
  bottom: 19.64%;
  top: 77.01%;
  height: 3.35%;
}
.apr {
  color: var(--gray-2, #4f4f4f);
  text-align: center;
  font-family: var(--x-content-font-family, "Inter-Regular", sans-serif);
  font-size: var(--x-content-font-size, 10px);
  font-weight: var(--x-content-font-weight, 400);
  position: absolute;
  right: 36.28%;
  left: 57.21%;
  width: 6.51%;
  bottom: 19.64%;
  top: 77.01%;
  height: 3.35%;
}
.mai {
  color: var(--gray-2, #4f4f4f);
  text-align: center;
  font-family: var(--x-content-font-family, "Inter-Regular", sans-serif);
  font-size: var(--x-content-font-size, 10px);
  font-weight: var(--x-content-font-weight, 400);
  position: absolute;
  right: 24.19%;
  left: 69.3%;
  width: 6.51%;
  bottom: 19.64%;
  top: 77.01%;
  height: 3.35%;
}
.jun {
  color: var(--gray-2, #4f4f4f);
  text-align: center;
  font-family: var(--x-content-font-family, "Inter-Regular", sans-serif);
  font-size: var(--x-content-font-size, 10px);
  font-weight: var(--x-content-font-weight, 400);
  position: absolute;
  right: 11.63%;
  left: 81.86%;
  width: 6.51%;
  bottom: 19.64%;
  top: 77.01%;
  height: 3.35%;
}
.rectangle-2045 {
  background: var(--data-1, #165baa);
  position: absolute;
  right: 73.49%;
  left: 19.3%;
  width: 7.21%;
  bottom: 32.14%;
  top: 57.14%;
  height: 10.71%;
}
.rectangle-2046 {
  background: var(--data-1, #165baa);
  position: absolute;
  right: 60.7%;
  left: 32.09%;
  width: 7.21%;
  bottom: 42.86%;
  top: 46.43%;
  height: 10.71%;
}
.rectangle-2047 {
  background: var(--data-1, #165baa);
  position: absolute;
  right: 48.37%;
  left: 44.42%;
  width: 7.21%;
  bottom: 38.39%;
  top: 57.14%;
  height: 4.46%;
}
.rectangle-2048 {
  background: var(--data-1, #165baa);
  position: absolute;
  right: 35.81%;
  left: 56.98%;
  width: 7.21%;
  bottom: 42.86%;
  top: 48.44%;
  height: 8.71%;
}
.rectangle-2049 {
  background: var(--data-1, #165baa);
  position: absolute;
  right: 23.72%;
  left: 69.07%;
  width: 7.21%;
  bottom: 42.86%;
  top: 42.41%;
  height: 14.73%;
}
.rectangle-2050 {
  background: var(--data-1, #165baa);
  position: absolute;
  right: 11.63%;
  left: 81.16%;
  width: 7.21%;
  bottom: 42.86%;
  top: 46.43%;
  height: 10.71%;
}
.vector-62 {
  height: auto;
  position: absolute;
  right: 8.72%;
  left: 16.74%;
  width: 74.53%;
  bottom: 40.51%;
  top: 48.1%;
  height: 11.38%;
  overflow: visible;
}
.ellipse-169 {
  background: var(--data-2, #a155b9);
  border-radius: 50%;
  position: absolute;
  right: 76.74%;
  left: 22.56%;
  width: 0.7%;
  bottom: 42.63%;
  top: 56.7%;
  height: 0.67%;
}
.ellipse-170 {
  background: var(--data-2, #a155b9);
  border-radius: 50%;
  position: absolute;
  right: 63.95%;
  left: 35.35%;
  width: 0.7%;
  bottom: 50.22%;
  top: 49.11%;
  height: 0.67%;
}
.ellipse-171 {
  background: var(--data-2, #a155b9);
  border-radius: 50%;
  position: absolute;
  right: 51.63%;
  left: 47.67%;
  width: 0.7%;
  bottom: 40.62%;
  top: 58.71%;
  height: 0.67%;
}
.ellipse-172 {
  background: var(--data-2, #a155b9);
  border-radius: 50%;
  position: absolute;
  right: 39.07%;
  left: 60.23%;
  width: 0.7%;
  bottom: 47.54%;
  top: 51.79%;
  height: 0.67%;
}
.ellipse-173 {
  background: var(--data-2, #a155b9);
  border-radius: 50%;
  position: absolute;
  right: 26.98%;
  left: 72.33%;
  width: 0.7%;
  bottom: 51.56%;
  top: 47.77%;
  height: 0.67%;
}
.ellipse-174 {
  background: var(--data-2, #a155b9);
  border-radius: 50%;
  position: absolute;
  right: 14.88%;
  left: 84.42%;
  width: 0.7%;
  bottom: 46.43%;
  top: 52.9%;
  height: 0.67%;
}
