/* 




html {
    --hang-time: 20;
    --spin-time: 10;
    --drift-amount: 150;
  }

  


ul {
  list-style: none;
  margin: 0;
  padding: 0;
  perspective: 1000px;
  position: relative;
}

li {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  transition-duration: calc(var(--spin-time) * 1s);
  transition-property: transform;
  perspective: 1000px;
}
li[data-state=in] {
  transition-duration: 0s;
  transform: translatez(0) rotatey(90deg);
}
li[data-state=in] .card {
  transform: rotatey(calc(var(--drift-amount) * 1deg));
}
li[data-state=show] {
  transform: rotatey(0deg);
  transition-timing-function: ease-out;
  transition-delay: calc(var(--spin-time) * 1s);
}
li[data-state=show] .card {
   -webkit-animation: drift calc(var(--hang-time) * 1s) linear infinite;
  animation: drift calc(var(--hang-time) * 1s) linear infinite;
}
li[data-state=out] {
  transform: rotatey(-90deg);
  transition-timing-function: ease-in;
}
li[data-state=out] .card {
  transform: rotatey(calc(var(--drift-amount) * -1deg));
}

.card.credit {
  width: 350px;
  height: 200px;
  background-color: #1e5799;
  background: linear-gradient(135deg, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%);
  border-radius: 10px;
  padding: 30px;
}
.card.credit h1 {
  font-family: "Biryani", sans-serif;
  color: #EEE;
  text-align: right;
  margin: 0;
  padding: 0;
}
.card.credit .chip {
  display: block;
  background-color: #EEE;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #666;
  border-right-color: white;
  border-bottom-color: white;
}
.card.credit .embossed {
  font-family: "Share Tech Mono", monospace;
  color: #EEE;
  width: 100%;
  margin-top: 10px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}
.card.credit .number {
  text-align: center;
  font-size: 26px;
}
.card.credit .date {
  text-align: right;
  font-size: 18px;
}
.card.credit .name {
    font-size: 22px;
    margin-top: -32px;
}



@-webkit-keyframes drift {
  from {
    transform: rotatey(calc(var(--drift-amount) * 1deg));
  }
  to {
    transform: rotatey(calc(var(--drift-amount) * -1deg));
  }
}

@keyframes drift {
  from {
    transform: rotatey(calc(var(--drift-amount) * 1deg));
  }
  to {
    transform: rotatey(calc(var(--drift-amount) * -1deg));
  }
} */