/* :global(.react-flow__viewport){
    transform: none !important
} */


.box{
    position: relative;
}



.handleTop{
width: 100%;
background: var(--color-primary-0);
border-color: var(--color-primary-0);
border-radius: 10px 10px 0px 0px;
}

.handleBottom{
    width: 100%;
    background: var(--color-primary-0);
    border-color: var(--color-primary-0);
    border-radius: 0px 0px 10px 10px;

}