.main_drive_left_panel {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px 15px;
    gap: 30px;
    position: relative
}

.drive_transformers_container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 50px;
    width: 100%;
    flex-shrink: 0;
    border-radius: 8px;
    padding: 8px;
    background: linear-gradient(177deg, rgba(203, 203, 255, 0.85) 2.55%, #f9f9ff00 98.34%);
}

.drive_transformers_title_container {
    display: inline-flex;
    align-items: center;
    gap: 15px;
}

.drive_transformers_title {
    color: #000;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
}

.drive_input_container {
    display: flex;
    width: 100%;
    padding: 6px;
    align-items: center;
    gap: 6px;
    border-radius: 30px;
    background: #F3F5F7;
}

.drive_shortcut_text {
    color: #4F5660;
    font-size: 8px;
    font-style: italic;
    font-weight: 200;
    line-height: 150%;
    /* 15px */
    letter-spacing: -0.1px;
}

.drive_shortcut_container {
    display: flex;
    padding: 2px 6px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    border: 1px solid #D9D9D9;
    background: #EBEBEB
}

.drive_input {
    color: #434343;
    font-size: 11px;
    font-style: italic;
    font-weight: 100;
    line-height: 150%;
    /* 18px */
    letter-spacing: -0.1px;
    background-color: transparent;
    border: transparent;
    outline: transparent;

    &:active {
        outline: transparent;
    }
}

.drive_create_new_container {
    cursor: pointer;
    display: flex;
    width: 100%;
    padding: 6px 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: blue;
    border-radius: 4px;
    position: relative;
}

.drive_create_new {
    color: #FFF;

    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    /* 178.571% */
}

.drive_options_container {
    display: flex;
    flex-direction: column;
    gap: 6px;
    color: var(--text-primary);
    margin-top: 15px;
}

.drive_option {
    display: flex;
    cursor: pointer;
    align-items: center;
    width: 100%;
    padding: 8px 12px;
    gap: 16px;
    border-radius: 20px;

    img{
        width: 18px;
    }

    &:hover {
        background-color: #e5e5e5;
        color: #000;
    }
}

.drive_option_text {
    color: var(--textContent);
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}

.drive_option_label{
    padding: 2px 4px;
    font-size: 6px;
    margin-left: auto;
    text-transform: uppercase;
    font-weight: 800;
    background: #e4e4e4;
    color: #b6b6b6;
    letter-spacing: 1px;
    border-radius: 6px;
}

.drive_create_new_popup_container {
    position: absolute;
    width: 165px;
    background-color: var(--background-menu-left);
    display: flex;
    flex-direction: column;
    padding: 0px;
    top: 44px;
    left: 10px;
    box-shadow: 0px 0px 8px -4px rgba(0, 0, 1, 0.4);
    border-radius: 4px;
    opacity: 0;
    max-height: 0;
    /* overflow: hidden; */
    transition: opacity 0.2s linear, max-height 0.05s linear;
    background: #fff;
    z-index: -1;
}

.show {
    transition: opacity 0.1s linear, max-height 0.2s linear;
    opacity: 1;
    max-height: 155px;
    z-index: 999;

    &.title{
        top: -10px;
        left: 212px;
    }
}

.drive_create_new_option {
    display: inline-flex;
    padding: 6px 10px;
    gap: 13px;
    cursor: pointer;

    img{
        width: 16px;
    }

    p{
        font-size: 12px;
    }

    &:hover {
        background-color: #f3f3f3;;
    }
}



.drive_mvp_aythen{
    border-top: 1px solid #dedede;
}

.showSubPopup{
    transition: opacity 0.1s linear, max-height 0.2s linear;
    opacity: 1;
    max-height: 410px;
    top: -60px;
    left: 166px;
    position: absolute;  
    padding: 2px 2px 2px 0px; 
}
.drive_create_new_subpopup_container{
    max-height: 500px;
    overflow-y: scroll;
    padding: 2px;
    display: flex;
    flex-direction: column;
    &::-webkit-scrollbar {
        width: 3px; 
        padding: 2px;
      }

    &::-webkit-scrollbar-thumb {
        background-color: #d2d2d2; 
        border-radius: 6px; 
    }

    &::-webkit-scrollbar-track {
        background-color: #f1f1f1; /* Color de fondo de la barra de desplazamiento */
        padding: 2px;
        border-radius: 8px;
      }

    .drive_create_new_mvp{
        display: inline-flex;
        align-items: center;
        padding: 6px 10px;
        gap: 13px;
        opacity: 0.6;
        color: #606060;
        border-radius: 6px;
        img{
            width: 23px;
        }
        
        &.active{
            opacity: 1;
            color: #000;
            cursor: pointer;
        }

        &:hover {
            background-color: #ebe7e7;
        }
    }
}






.modalContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    /* background:  red; */
}

.drive_modal_container {
    width: 355px;
    min-height: 200px;
    /* background-color: var(--background-menu-left); */
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 14px;
    background: #ffff;
}

.drive_modal_title_container,
.drive_modal_buttons_container {
    padding: 10px;
}

.drive_modal_title {
    font-size: 25px;
}

.drive_modal_name_container {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    overflow: hidden;
    justify-content: flex-start;
    align-items: center;
    display: inline-flex;
    border: 1px solid rgb(95, 95, 95);
}

.drive_modal_name {
    width: 100%;
    font-size: 22px;
    color: rgb(31, 31, 31);
    background: transparent;
    outline: none;
    border: none;
}

.drive_modal_buttons_container {
    display: inline-flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 10px;
}