.customVector {
  /* overflow: hidden; */
  border-radius: 4px;

  .boxVector {
    justify-content: space-between;
    width: 350px;
    background: var(--color-primary-4);
    display: flex;
    align-items: center;
    text-align: center;
    padding: 4px 5px;
    border: 4px solid transparent;
    border-image: initial;
    border-image-slice: 1;
    border-radius: 4px;
    animation: gradientAnimation 5s linear infinite;

    &.active {
      animation: gradientSelectedAnimation 5s linear infinite;
    }

    .logo {
      width: 60px;
      height: 60px;
      background: var(--color-primary-5);
      border-radius: 4px;
      display: flex;
      align-items: center;
      justify-content: center;
      svg {
        width: 50px;
        height: 50px;
      }
    }

    .info {
      display: flex;
      align-items: left;
      gap: 2px;
      flex-direction: column;
      width: calc(100% - 70px);

      .top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 6px;
        line-height: 14px;
        width: 100%;
        input {
          font-size: 22px;
          font-weight: 500;
          color: var(--color-primary-0);
          background: transparent;
          outline: none;
          width: inherit;
        }
        span {
          font-size: 12px;
          font-weight: 600;
          color: var(--color-primary-0);
        }
        .label {
          display: flex;
          gap: 2px;
          .time {
            line-height: 14px;
            background: #f0f0f0;
            padding: 2px 8px;
            border-radius: 8px 8px 0px 8px;
            font-size: 10px;
            text-wrap: nowrap;
          }
          label {
            background: var(--background);
            color: var(--color-primary-0);
            padding: 2px 4px;
            font-size: 8px;
            box-shadow: 0px 0px 10px 4px var(--color-primary-3);
            border-radius: 4px;
            font-weight: 900;
            text-wrap: nowrap;
          }
        }
      }
      .bottom {
        margin-top: 12px;
        padding-top: 4px;
        border-top: 2px solid var(--color-primary-3);
        justify-content: flex-end;
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 12px;
        .buttons {
          display: flex;
          align-items: center;
          gap: 8px;
          button {
            width: 24px;
            height: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: var(--color-primary-4);
            border-radius: 5px;
            border: 2px solid var(--color-primary-3);
            background: var(--color-primary-5);
            overflow: hidden;
            svg {
              color: var(--color-primary-2);
            }
            :hover {
              color: var(--color-primary-0);
              background: var(--color-primary-4);
            }
          }
        }
      }
    }
  }
}

/**/
.boxVector {
  &.maxWidth{
    width: 600px !important;
  }
  &.active {
    background: var(--color-primary-1);
    width: 450px;
    .logo {
      width: 30px;
      height: 30px;
      background: var(--background) !important;
      svg {
        width: 22px;
      }
    }
    .info {
      flex-direction: row;
      justify-content: space-between;
      width: calc(100% - 40px);
    }
    .top {
      padding-right: 10px;
      input {
        padding-left: 0px !important;
        color: #fff !important;
      }
    }
    .bottom {
      margin-top: unset !important;
      padding-top: unset !important;
      border-top: unset !important;
      .buttons {
        button {
          background: var(--background) !important;
          border-color: var(--background) !important;
          svg {
            color: var(--color-primary-0) !important;
          }
        }
      }
    }
  }
}

@keyframes gradientAnimation {
  0% {
    border-image-source: linear-gradient(
      45deg,
      var(--color-primary-4),
      var(--color-primary-3)
    );
  }
  25% {
    border-image-source: linear-gradient(
      45deg,
      var(--color-primary-3),
      var(--color-primary-4)
    );
  }
  50% {
    border-image-source: linear-gradient(
      45deg,
      var(--color-primary-4),
      var(--color-primary-3)
    );
  }
  75% {
    border-image-source: linear-gradient(
      45deg,
      var(--color-primary-3),
      var(--color-primary-4)
    );
  }
  100% {
    border-image-source: linear-gradient(
      45deg,
      var(--color-primary-4),
      var(--color-primary-3)
    );
  }
}

@keyframes gradientSelectedAnimation {
  0% {
    border-image-source: linear-gradient(
      45deg,
      var(--color-primary-0),
      var(--color-primary-2)
    );
  }
  25% {
    border-image-source: linear-gradient(
      45deg,
      var(--color-primary-2),
      var(--color-primary-0)
    );
  }
  50% {
    border-image-source: linear-gradient(
      45deg,
      var(--color-primary-0),
      var(--color-primary-2)
    );
  }
  75% {
    border-image-source: linear-gradient(
      45deg,
      var(--color-primary-2),
      var(--color-primary-0)
    );
  }
  100% {
    border-image-source: linear-gradient(
      45deg,
      var(--color-primary-0),
      var(--color-primary-2)
    );
  }
}

.contextMenu {
  position: absolute;
  top: 0px;
  left: 0px;
  background: #fff;
  border: 1px solid #c0c0c0;
  border-radius: 8px;
  cursor: pointer;
  z-index: 99;
  ul {
    li {
      padding: 4px 12px;
      font-size: 14px;
      &:hover {
        background: #f0f0f0;
      }
    }
  }
}



.handleRight,
.handleLeft{
  height: 100%;
  width: 8px;
  border-radius: 0px;
  background: var(--color-primary-0);
}
.handleLeft{
  border-radius: 10px 0px 0px 10px;
}
  .handleRight{
  border-radius: 0px 10px 10px 0px;
}