/* Estilo por defecto (light-mode) */
:root {
    --background: #fff;
    --background-secondary: #f9f8ff;
    --background-input: #f4f3ff;
    --background-alert: #ebebff;
    --background-topbar: #fff;
    --background-container: #f7f7f7;
    --background-chatbot: #f0f2f5f7;
    --background-button-topbar: #f0f2f5;
    --background-button-selected-topbar: #ffffff;

    --background-banner: rgb(241, 238, 252);

    --background-modal: #ffffff;
    --overlay: rgb(231 231 231 / 90%);

    --text-primary: #000000;
    --text-color: #060510;
    --text-color-secondary: #231D4F;

    --border-color: rgb(217, 218, 221);


    --color-primary-0: #000fff;
    /* --color-primary-1: #000fff;
    --color-primary-2: #000fff;
    --color-primary-3: #000fff; */
  
}

/* Estilo para dark-mode */
body.dark-mode {
    --background: #000;
    --background-secondary: #0b0b0b;
    --background-input: #151515;
    --background-alert: #12122a;
    --background-topbar: #000;
    --background-container: #151313;
    --background-chatbot: #0e0e0ef7;
    --background-button-topbar: #161515;
    --background-button-selected-topbar: #000;

    --background-banner: #1b1b1b;


    --background-modal: #000;
    --overlay: #010101b3;


    --text-primary: #fff3f3;
    --text-color: #fff;
    --text-color-secondary: #c3c3c3;

    --border-color: #212121;

    --color-primary-0: #000fff;

}


